<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <!-- <link rel="icon" href="checklist.gif"> -->
  <title>Your Healthy Partner</title>
</head>
<body>
  <nav>
    <div class = "site-title"> 
    <a href="/"><h1>Your Healthy Planner</h1></a>
    <p><%= title %></p>
    </div>
   <ul>
    <li> <a href="/mealprep/new"	<%- title === 'NEW MEAL PREP' ? 'class="active"' : '' %>>NEW MEAL Prep</a> </li>
    <li> <a href="/ingredient/new" <%- title === 'NEW INGREDIENT' ? 'class="active"' : '' %>>ADD INGREDIENT</a></li>
    <li> <a href="/mealprep" <%- title === 'All Meal Prep' ? 'class="active"' : '' %>>ALL Meal Prep</a></li>
  </ul> 
  </nav>
  <main>
   