<%- include('./partials/header') %>
<div class="intro">
  <!-- <a href="/users/signup"><button>Signup</button></a>
  <a href="/users/login"><button>Login</button></a> -->
  <h3>MEAL-ORIENTED SHOPPING</h3>
  <param>
    Make it possible for you to purchse what you need to make a meal. 
    Simplify grocery shopping for you!
  </param>

  <br />
  <a href="/users/signup_login"><button type="button" class="btn btn-primary btn-lg">SIGNUP/LOGIN</button></a>
  <a
    href="https://github.com/evelynyu007/Grocery-TODO-List-full-stack"
    target="_blank"
    ><button type="button" class="btn btn-success btn-lg">READ MORE</button></a
  >
</div>
<%- include('./partials/footer') %>
