<%- include('./partials/header') %>
<div class="intro">
  <!-- <a href="/users/signup"><button>Signup</button></a>
  <a href="/users/login"><button>Login</button></a> -->
  <a href="/users/signup_login"><button>SIGNUP/LOGIN</button></a>
  <a
    href="https://github.com/evelynyu007/Grocery-TODO-List-full-stack"
    target="_blank"
    ><button>READ MORE</button></a
  >
</div>
<%- include('./partials/footer') %>
