<%- include('./partials/header') %>
<!-- ============= CONTAINER ============== -->
<div class="index-container">
  <!-- sidebar -->
  <div class="sidebar"></div>

  <!-- intro container -->
  <div class="intro">
    <h3>MEAL-ORIENTED SHOPPING</h3>
    <p>
      Make it possible for you to purchse what you need to make a meal. Simplify
      grocery shopping for you!
    </p>
    <br />
    <h3>NUTRITION & HEALTH</h3>
    <p>Take a look at the nutrition of raw food you are going to buy.</p>

    <a href="/users/signup_login"
      ><button type="button" class="btn btn-primary btn-lg">
        SIGNUP / LOGIN
      </button></a
    >
    <br />
    <br />
    <br />
    <br />
    <h3>WANT TO KNOW MORE?</h3>
    <a
      href="https://github.com/evelynyu007/Grocery-TODO-List-full-stack"
      target="_blank"
      ><button type="button" class="btn btn-success btn-lg">
        READ MORE
      </button></a
    >
  </div>
</div>
<%- include('./partials/footer') %>
