body {
  margin: 20px auto;
  padding: 0 20px;
  background-color: rgb(250, 250, 250) !important;
}

main {
  height: 900px;
  font-family: "Roboto", sans-serif;
  text-align: center;
}

p,
h1,
h2,
h3,
a,
ul {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: #222;
}

/* nav & footer styles */
nav {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ddd;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
}

nav ul {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

nav li {
  list-style-type: none;
  margin-left: 20px;
}

nav p,
nav a {
  color: #777;
  font-weight: 300;
  font-size: large;
  text-decoration: none;
}

nav h1 {
  font-size: 4em;
  text-transform: none;
  /* not work... */
  display: flex;
  text-align: center;
  font-family: "EB Garamond", serif;
}

footer {
  color: #777;
  text-align: center;
  margin: 80px auto 20px;
}

/*** Signup-Login Page ***/
.index-container {
  /* width: 80vw; */
  width: 1100px;
  /* height: 70vw; */
  height: 900px;
  margin: 50px auto;
  display: flex;
  border-radius: 10px;
  box-shadow: 1px 1px 10px #bbb, -1px -1px 10px #bbb, 1px -1px 10px #bbb,
    -1px 1px 10px #bbb;
}
.sidebar {
  width: 50%;
  background: url("../image/basket.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 10px 0 0 10px;
}
.intro {
  width: 50%;
  background: #ecebeb;
  border-radius: 0 10px 10px 0;
  padding: 15px;
  box-sizing: border-box;
  overflow: auto;
  padding-top: 100px;
}
.intro h3 {
  margin-bottom: 10px;
}

/***  login in only sidebar ***/
.sl-sidebar {
  width: 50%;
  background: url("../image/login_img.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 10px 0 0 10px;
}
/***************************/
/*** all-meal-index ***/
.meal-index-con {
  width: 1200px;
  min-height: 800px;
  margin: 50px auto;
  display: flex;
  border-radius: 10px;
  box-shadow: 1px 1px 10px #bbb, -1px -1px 10px #bbb, 1px -1px 10px #bbb,
    -1px 1px 10px #bbb;
}
.meal-index-sidebar {
  width: 50%;
  background: url("../image/coffeeBackground.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 10px 0 0 10px;
}
.meal-index {
  width: 50%;
  padding-top: 35px;
}
.meal-index th {
  font-size: larger;
}
.total-cost {
  font-size: xx-large;
}
#list {
  font-size: large;
  margin-left: auto;
  margin-right: auto;
}

/***************************/
/*** new meal prep page ***/
.meal-new-container {
  width: 1500px;
  height: auto;
  margin: 50px auto;
  display: flex;
  border-radius: 10px;
  box-shadow: 1px 1px 10px #bbb, -1px -1px 10px #bbb, 1px -1px 10px #bbb,
    -1px 1px 10px #bbb;
}
.new-meal-sidebar {
  width: 50%;
  background: url("../image/spoon.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 10px 0 0 10px;
}
.create-new-meal-con {
  width: 50%;
  background: #fffcfc;
  border-radius: 0 10px 10px 0;
  padding: 15px;
  box-sizing: border-box;
  overflow: auto;
  padding-top: 30px;
}

#new-form {
  font-size: x-large;
  margin-left: auto;
  margin-right: auto;
}
/* input text left align */
.fill-new-meal {
  text-align: left;
  padding-left: 25px;
}

.meal-new-container .badge-container {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(6, 90px);
  grid-row-gap: 5px;
  grid-column-gap: 20px;
}
.meal-new-container .badge {
  display: grid;
  justify-content: center;
  color: #222;
  grid-template-areas:
    "head"
    "left right";
}
.meal-new-container img {
  grid-area: head;
}
.meal-new-container input[type="checkbox"] {
  grid-area: right;
}
.meal-new-container label {
  grid-area: left;
}

/*** create new ingredient ***/
.ingredient-new .badge-container {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(10, 100px);
  grid-row-gap: 15px;
  grid-column-gap: 30px;
}

/*** ingredient show all the ingredient ***/

.ingredient-show-con {
  width: 1300px;
  height: auto;
  margin: 50px auto;
  display: flex;
  border-radius: 10px;
  box-shadow: 1px 1px 10px #bbb, -1px -1px 10px #bbb, 1px -1px 10px #bbb,
    -1px 1px 10px #bbb;
}
.nutrition-sidebar {
  width: 65%;
  background: url("../image/index_img.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 10px 0 0 10px;
}
.nutrition-show-page {
  background: #fffcfc;
  width: 35%;
  text-align: left;
  padding-left: 25px;
}
