<%- include('../partials/header') %>

<div>
  Before adding, please ensure that the Ingredient is not in the following list:
</div>
<section id="badge-container">
  <% ingredients.forEach(function(i) { %>

  <article class="badge">
    <%= i.name %>
    <a href="/ingredients/<%= i._id %>"><button>DETAILS</button></a>
  </article>
  <% }) %>
</section>

<form id="add-performer-form" action="/ingredients" method="POST">
  <label>Name:</label>
  <input type="text" name="name" />
  <!-- Nutrition API -->
  <input type="submit" value="Add Ingredient" />
</form>

<%- include('../partials/footer') %>
