<%- include('../partials/header') %>

<section id="ingredient-show-page">
  <div>Name:</div>
  <div><%= ingredient.name %></div>
  <br />
  <!-- start Nutrition list -->
  <div>Nutrition:</div>

  <!-- end Nutrition list -->

  <!-- show meals below this comment -->
</section>

<%- include('../partials/footer') %>
