<%- include('../partials/header') %>

<section id="ingredient-show-page">
  <div>Name:</div>
  <div><%= ingredient.name %></div>
  <br />
  <!-- show meals below this comment -->
  <div>Meal Ideas:</div>
  <ul>
    <%- ingredient.mealprep.map(m => `
    <li>${m.title}</li>
    ` ).join('') %>
  </ul>

  <br /><br /><br />
  <!-- start Nutrition list -->
  <div>Nutrition:</div>

  <!-- end Nutrition list -->
</section>

<%- include('../partials/footer') %>
